<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../../partials/head')%>
		<title>Document</title>
	</head>
	<body>
		<%-include('../../partials/nav')%> <% let num =
		Math.floor(Math.random()*items.length) %>
		<section class="container animated-gradient-hr pb-3 rounded-bottom">
			<img
				src="<%=items[num].image%>"
				class="img-fluid"
				alt=""
			/>
		</section>
		<section class="container my-3">
			<h1 class="text-center text-light"><%=cat%>s</h1>
			<div class="d-flex justify-content-center flex-wrap">
				<%items.forEach(function(item){%>
				<div
					class="animated-gradient-hr card shadow bg-dark m-2"
					style="width: 18rem"
				>
					<a href="/items/<%=item._id%>">
						<img
							class="card-img-top"
							src="<%=item.image%>"
							alt=""
						/>
						<div class="card-body">
							<h5><%=item.name%></h5>
							<a href="/games/<%=item.game._id%>"
								><small class="shadow rounded-pill bg-info p-1 px-2 text-light"
									><%=item.game.name%></small
								></a
							>
						</div>
					</a>
				</div>
				<%})%>
			</div>
		</section>
	</body>
</html>
