<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head')%>
	</head>
	<body>
		<%- include('../partials/nav')%>

		<h1>Games!!</h1>
		<p>Welcome to Games</p>
		<h1><%=games.length%></h1>

		<div class="container">
			<% games.forEach(function(game){%>
			<a href="/games/<%=game._id%>">
				<div class="card">
					<img class="heroimg" src="<%=game.image%>" alt="" />
					<h5><%=game.name%></h5>
					<a href="/games/<%=game.category%>"
						><small><%=game.category%></small></a
					>
				</div>
			</a>
			<%})%>
		</div>
	</body>
</html>
