<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head') %>
	</head>

	<body>
		<%- include('../partials/nav')%>
		<main class="d-flex flex-row container vh-75">
			<section class="d-flex flex-column">
				<div class="animated-gradient-hr pb-3 rounded-bottom detail-img">
					<img
						src="<%=game.image%>"
						class="img-fluid mx-auto"
						alt=""
					/>
				</div>
				<h1 class="text-center text-light"><%=game.name%></h1>
				<p class="text-secondary"><%=game.description%></p>
				<p class="text-secondary"><%=rating%></p>
			</section>
			<section class="container py-3 bg-info">
				<div
					class="d-flex justify-content-center align-items-center flex-column"
				>
					<form
						action="/games/<%=game._id%>/comments"
						method="POST"
					>
						<input
							type="text"
							name="text"
							placeholder="comment"
						/>
						<input
							type="range"
							min="1"
							max="5"
							name="rating"
						/>
						<input
							type="submit"
							value="submit"
							class="btn btn-primary"
						/>
					</form>
					<% if (comments.length) { %> <% comments.forEach(c=> { %>
					<p><%=c.text%></p>
					<p><%=c.rating%></p>
					<% })} %>
				</div>
			</section>
		</main>

		<section class="container">
			<div class="d-flex justify-content-center flex-wrap bg-dark bg-gradient">
				<a href="/items/new/<%=game._id%>"
					><button class="btn btn-success">Add item</button></a
				>
				<% items.forEach(function(item){%>
				<div class="animated-gradient-hr card shadow bg-dark m-2">
					<a href="/items/<%=item._id%>">
						<img
							class="card-image-top"
							src="<%=item.image%>"
							style="width: 18rem"
							alt=""
						/>
						<div class="card-body">
							<h5><%=item.name%></h5>
							<a href="/items/categories/<%=item.category%>"
								><small class="shadow rounded-pill bg-info p-1 px-2 text-light">
									<%=item.category%>
								</small></a
							>
						</div>
					</a>
				</div>
				<%})%>
			</div>
		</section>
	</body>
</html>
