<!DOCTYPE html>
<html lang="en">
	<head>
		<%-include('../partials/head')%>
		<title>Document</title>
	</head>
	<body>
		<%-include('../partials/nav')%>
		<div
			class="text-center text-light"
			style="background-image: url('<%=item.image%>'); background-size: cover"
		>
			<div
				class="p-5"
				style="
					backdrop-filter: blur(14px) saturate(180%);
					-webkit-backdrop-filter: blur(16px) saturate(180%);
				"
			>
				<h1 class="fs-4 p-5"><%=item.name%></h1>
			</div>
		</div>
		<section class="container my-5 text-light d-flex justify-content-center">
			<form action="/items/<%=item._id%>?_method=PUT" method="POST">
				<div class="form-group">
					<label for="name">Name:</label>
					<br />
					<input
						class="form-control"
						type="text"
						name="name"
						id="name"
						value="<%=item.name%>"
					/>
				</div>
				<div class="form-group">
					<label for="category">Category:</label>
					<br />
					<select class="form-control" name="category" id="category">
						<option value="<%=item.category%>"><%=item.category%></option>
						<option value="Weapon">Weapon</option>
						<option value="Character">Character</option>
						<option value="Map">Map</option>
						<option value="Item">Item</option>
					</select>
				</div>
				<div class="form-group">
					<label for="image">Image URL:</label>
					<br />
					<input
						class="form-control"
						type="url"
						name="image"
						id="image"
						value="<%=item.image%>"
					/>
				</div>
				<div class="form-group">
					<label for="description">Description:</label>
					<br />
					<textarea
						class="form-control"
						name="description"
						id="description"
						cols="30"
						rows="10"
					>
<%=item.description%></textarea
					>
				</div>
				<button class="shadow btn btn-success btn-block" type="submit">
					Update
				</button>
			</form>
		</section>
	</body>
</html>
