<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') %>
	</head>
	<body>
		<%- include('../partials/nav')%>
		<h1>Test!!</h1>
		<p>Welcome to test</p>
		<h1><%=items.length%></h1>

		<div class="container">
			<% items.forEach(function(item){%>
			<a href="/items/<%=item._id%>">
				<div class="card">
					<img class="heroimg" src="<%=item.image%>" alt="" />
					<h5><%=item.name%></h5>
					<a href="/items/categories/<%=item.category%>"
						><small><%=item.category%></small></a
					>
				</div>
			</a>
			<%})%>
		</div>
	</body>
</html>
